<template name="page">
  <div id="home" class="Site">

    <header>
      {{> navigation}}
    </header>

    <main class="Site-content">
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>

      <div class="ui aligned center aligned grid">
        <div class="column">
          <img id="main-logo" width="350px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/2000px-Coca-Cola_logo.svg.png">
        </div>
      </div>

      <div class="ui aligned center aligned grid">
        <div class="column">
          <h1 class="ui header">Meteor Starter Kit</h1>
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui container">
        <div class="center-items">
          <div class="ui search">
            <div class="ui fluid icon input">
              <input class="prompt" type="text" placeholder="Search Website...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui container">
        <div class="center-items">
            <a href="/dashboard" class="ui huge inverted button">Dashboard</a>
        </div>
      </div>

      <div class="ui hidden divider"></div>

    </main>

    <footer>
      {{> footer}}
    </footer>

  </div>

</template>
