<template name="page">
  <div id="home" class="Site">

    <header>
      {{> navigation}}
    </header>

    <main class="Site-content">
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>

      <div class="ui aligned center aligned grid">
        <div class="column">
          <h1 class="ui header">
            <i class="em em-older_man"></i>
            <i class="em em-older_woman"></i>
          </h1>
        </div>
      </div>

      <div class="ui aligned center aligned grid">
        <div class="column">
          <h1 class="ui header">Elderly Monitoring</h1>
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui container">
        <div class="center-items">
          <div class="ui search">
            <div class="ui fluid icon input">
              <input class="prompt" type="text" placeholder="Search Website...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui container">
        <div class="center-items">
            <a href="/patients" class="ui huge inverted button">Patient Overview</a>
        </div>
      </div>

      <div class="ui hidden divider"></div>

    </main>

    <footer>
      {{> footer}}
    </footer>

  </div>

</template>
