<template name="footer">
  <div class="ui inverted vertical footer segment">
   <div class="ui center aligned container">
     <div class="ui stackable inverted divided grid">
       <div class="three wide column">
         <h4 class="ui inverted header">Group One</h4>
         <div class="ui inverted link list">
           <a href="#" class="item">Link One</a>
           <a href="#" class="item">Link Two</a>
         </div>
       </div>
       <div class="three wide column">
        <h4 class="ui inverted header">Group Two</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
         </div>
       </div>
       <div class="three wide column">
         <h4 class="ui inverted header">Group Three</h4>
         <div class="ui inverted link list">
           <a href="#" class="item">Link One</a>
           <a href="#" class="item">Link Two</a>
         </div>
       </div>
       <div class="seven wide column">
         <h4 class="ui inverted header">Meteor Starter Kit</h4>
         <p>Making Meteor life easier.</p>
       </div>
     </div>
     <div class="ui inverted section divider"></div>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/2000px-Coca-Cola_logo.svg.png" class="ui centered mini image">
     <div class="ui horizontal inverted small divided link list">
       <a class="item" href="#">Site Map</a>
       <a class="item" href="#">Contact Us</a>
       <a class="item" href="#">Terms and Conditions</a>
       <a class="item" href="#">Privacy Policy</a>
     </div>
     <div class="ui inverted section">
       <div class="ui horizontal inverted small divided link list">
         <p class="love">Made with <i class="heart icon"></i>by <a class="item" href="http://klave.no">Sindre Klavestad</a></p>
       </div>
     </div>
   </div>
 </div>
</template>
