<template name="navigation">

  <div id="nav" class="ui menu">
    <div class="ui container">
      <a class="header item white-text" href="/">
        <i class="em em-older_adult"></i>
        EMH
      </a>
      <div class="right menu">
        {{#if currentUser}}
        <div class="ui inverted inline pointing dropdown link item">
          <i class="em em-female-doctor"></i>
          <span class="text">{{email}}</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/profile">Profile</a>
            <a class="item" href="/change-password">Change Password</a>
            <div class="divider"></div>
            <a class="item" href="/sign-out">Sign Out</a>
          </div>
        </div>
        {{else}}
        <a href="/sign-in" class="item">Login</a>
        <a href="/sign-up" class="item">Register</a>
        {{/if}}
      </div>
    </div>
  </div>

</template>