<template name="login">

  <div class="Site">
    <header>
      {{> navigation}}
    </header>

    <main class="Site-content">
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h1 class="ui huge header">Please log in</h1>
          <form class="ui large form">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i><input name="email" placeholder="E-mail address" type="text" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i><input name="password" placeholder="Password" type="password" />
              </div>
            </div>
            <div id="loginBtn" class="ui fluid large primary submit button">
              Sign in
            </div>
          </form>

          <div class="ui message">
            Don't have an account? <a href="/sign-up">Sign Up!</a>
          </div>

          <div id="error-message" class="ui negative message" style="display:none;">
            <i class="close icon"></i>
            <div class="header">
              Login failed!
            </div>
              <p id="error-text">Please try again.</p>
          </div>


        </div>
      </div>
    </main>

    <style type="text/css">
      body {
        background-color: #eee;
      }

      .column {
        margin-top: 6em;
      }
    </style>

  </div>
</template>
